<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8;charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>{{title}}</title>
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="gbadev.io" />
<meta property="og:title" content="{{title}}" />
<meta property="og:url" content="https://gbadev.io/" />
<meta property="og:description" content="{{desc}}" />
<meta property="description" content="{{desc}}" />
<meta property="og:image" content="https://cdn2.arqadium.com/f/52e4d6effc2440f487ad189a94b15db8/unknown.jpg" />
<meta property="og:image:url" content="https://cdn2.arqadium.com/f/52e4d6effc2440f487ad189a94b15db8/unknown.jpg" />
<meta property="og:image:secure_url" content="https://cdn2.arqadium.com/f/52e4d6effc2440f487ad189a94b15db8/unknown.jpg" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:url" content="https://twitter.com/gbadev0" />
<meta name="twitter:description" content="{{desc}}" />
<meta name="twitter:image" content="https://cdn2.arqadium.com/f/52e4d6effc2440f487ad189a94b15db8/unknown.jpg" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@gbadev0" />
<meta name="robots" content="index, follow" />
